In [1]:
import pandas_datareader as web
import pandas as pd

price_data = web.DataReader('GOOG', data_source='yahoo', start='2012-01-01', end='2019-12-17')

print('Dataframe structure')
print(price_data.index)
print(price_data.columns)
print()

print('Dataframe data')
print(price_data)
print()

print('Close series (single dimension)')
close = price_data['Close']
print(close)
print()

print('Panda array (ndarray)')
values = price_data.values
print(values)
print()

print('List first item')
list = price_data.values.tolist()
print(list[0])

Dataframe structure
DatetimeIndex([&#39;2012-01-03&#39;, &#39;2012-01-04&#39;, &#39;2012-01-05&#39;, &#39;2012-01-06&#39;,
               &#39;2012-01-09&#39;, &#39;2012-01-10&#39;, &#39;2012-01-11&#39;, &#39;2012-01-12&#39;,
               &#39;2012-01-13&#39;, &#39;2012-01-17&#39;,
               ...
               &#39;2019-12-04&#39;, &#39;2019-12-05&#39;, &#39;2019-12-06&#39;, &#39;2019-12-09&#39;,
               &#39;2019-12-10&#39;, &#39;2019-12-11&#39;, &#39;2019-12-12&#39;, &#39;2019-12-13&#39;,
               &#39;2019-12-16&#39;, &#39;2019-12-17&#39;],
              dtype=&#39;datetime64[ns]&#39;, name=&#39;Date&#39;, length=2003, freq=None)
Index([&#39;High&#39;, &#39;Low&#39;, &#39;Open&#39;, &#39;Close&#39;, &#39;Volume&#39;, &#39;Adj Close&#39;], dtype=&#39;object&#39;)

Dataframe data
                   High          Low         Open        Close      Volume  \
Date
2012-01-03   332.827484   324.966949   325.250885   331.462585   7380500.0
2012-01-04   333.873566   329.076538   331.273315   332.892242   5749400.0
2012-01-05   330.745300   326.889740   329.828735   328.274536   6590300.0
2012-01-06   328.767700   323.681763   328.344299   323.796326   5405900.0
2012-01-09   322.291962   309.455078   322.042908   310.067780  11688800.0
...                 ...          ...          ...          ...         ...
2019-12-11  1351.199951  1342.670044  1350.839966  1345.020020    850400.0
2019-12-12  1355.775024  1340.500000  1345.939941  1350.270020   1281000.0
2019-12-13  1353.093018  1343.869995  1347.949951  1347.829956   1549600.0
2019-12-16  1364.680054  1352.670044  1356.500000  1361.170044   1397300.0
2019-12-17  1365.000000  1351.322998  1362.890015  1355.119995   1854000.0

              Adj Close
Date
2012-01-03   331.462585
2012-01-04   332.892242
2012-01-05   328.274536
2012-01-06   323.796326
2012-01-09   310.067780
...                 ...
2019-12-11  1345.020020
2019-12-12  1350.270020
2019-12-13  1347.829956
2019-12-16  1361.170044
2019-12-17  1355.119995

[2003 rows x 6 columns]

Close series (single dimension)
Date
2012-01-03     331.462585
2012-01-04     332.892242
2012-01-05     328.274536
2012-01-06     323.796326
2012-01-09     310.067780
                 ...
2019-12-11    1345.020020
2019-12-12    1350.270020
2019-12-13    1347.829956
2019-12-16    1361.170044
2019-12-17    1355.119995
Name: Close, Length: 2003, dtype: float64

Panda array (ndarray)
[[3.32827484e+02 3.24966949e+02 3.25250885e+02 3.31462585e+02
  7.38050000e+06 3.31462585e+02]
 [3.33873566e+02 3.29076538e+02 3.31273315e+02 3.32892242e+02
  5.74940000e+06 3.32892242e+02]
 [3.30745300e+02 3.26889740e+02 3.29828735e+02 3.28274536e+02
  6.59030000e+06 3.28274536e+02]
 ...
 [1.35309302e+03 1.34387000e+03 1.34794995e+03 1.34782996e+03
  1.54960000e+06 1.34782996e+03]
 [1.36468005e+03 1.35267004e+03 1.35650000e+03 1.36117004e+03
  1.39730000e+06 1.36117004e+03]
 [1.36500000e+03 1.35132300e+03 1.36289001e+03 1.35512000e+03
  1.85400000e+06 1.35512000e+03]]

List first item
[332.8274841308594, 324.9669494628906, 325.2508850097656, 331.46258544921875, 7380500.0, 331.46258544921875]

In [2]:
# Add another row to a series
close = close.append(pd.Series({'Test': 1.1}))
print(close)
print(close.loc['Test'])

2012-01-03 00:00:00     331.462585
2012-01-04 00:00:00     332.892242
2012-01-05 00:00:00     328.274536
2012-01-06 00:00:00     323.796326
2012-01-09 00:00:00     310.067780
                          ...
2019-12-12 00:00:00    1350.270020
2019-12-13 00:00:00    1347.829956
2019-12-16 00:00:00    1361.170044
2019-12-17 00:00:00    1355.119995
Test                      1.100000
Length: 2004, dtype: float64
1.1

In [3]:
# Create new dataframe using the column names of another dataframe
df = pd.DataFrame([{1., 2., 3., 4., 5., 6.}], index=['2020-01-01'], columns=price_data.columns)
print(df)

            High  Low  Open  Close  Volume  Adj Close
2020-01-01   1.0  2.0   3.0    4.0     5.0        6.0

In [4]:
# Join two dataframes: note must have the same column names to have desired effect
price_data_appended = pd.concat([price_data, df])
price_data_appended

,High,Low,Open,Close,Volume,Adj Close
2012-01-03 00:00:00,332.827484,324.966949,325.250885,331.462585,7380500.0,331.462585
2012-01-04 00:00:00,333.873566,329.076538,331.273315,332.892242,5749400.0,332.892242
2012-01-05 00:00:00,330.745300,326.889740,329.828735,328.274536,6590300.0,328.274536
2012-01-06 00:00:00,328.767700,323.681763,328.344299,323.796326,5405900.0,323.796326
2012-01-09 00:00:00,322.291962,309.455078,322.042908,310.067780,11688800.0,310.067780
...,...,...,...,...,...,...
2019-12-12 00:00:00,1355.775024,1340.500000,1345.939941,1350.270020,1281000.0,1350.270020
2019-12-13 00:00:00,1353.093018,1343.869995,1347.949951,1347.829956,1549600.0,1347.829956
2019-12-16 00:00:00,1364.680054,1352.670044,1356.500000,1361.170044,1397300.0,1361.170044
2019-12-17 00:00:00,1365.000000,1351.322998,1362.890015,1355.119995,1854000.0,1355.119995
2020-01-01,1.000000,2.000000,3.000000,4.000000,5.0,6.000000

In [11]:
# Get row with index in Series
print(close.iloc[0])

# Get row with index value in Series
print(close.loc['Test'])

331.46258544921875
1.1

In [90]:
# Get row with index in Dataframe
print(price_data_appended.iloc[0])

# Get row with index value in Datafram
print(price_data_appended.loc['2020-01-01'])

High         3.328275e+02
Low          3.249669e+02
Open         3.252509e+02
Close        3.314626e+02
Volume       7.380500e+06
Adj Close    3.314626e+02
Name: 2012-01-03 00:00:00, dtype: float64
High         1.0
Low          2.0
Open         3.0
Close        4.0
Volume       5.0
Adj Close    6.0
Name: 2020-01-01, dtype: float64